.location__info {
  padding: 20px 30px;
  text-align: left;
  background-color: #C9BCAB;
}

.location__info--name {
  font-size: 24px;
  font-weight: 700;
  color: white; 
  margin-bottom: 10px;
}

.location__info--address, .location__info--phone {
  font-size: 18px;
  color: white; 
}
