.pet__info {
  /* padding: 30px 30px 0px; */
  padding: 20px 30px;
  text-align: left;
  background-color: #C9BCAB;
}

.pet__info--name {
  font-size: 26px;
  font-weight: 700;
  color: white;
  margin-bottom: 10px;
}

.pet__info--details {
  font-size: 20px;
  font-weight: 400;
  color: white;
}

.details__photo {
  width: 400px;
  margin-bottom: 30px;
}