.customer__info {
  margin: auto auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 30px;
  text-align: left;
  background-color: #C9BCAB;
}

.customer__info--name {
  font-size: 24px;
  font-weight: 700;
  color: white; 
  margin-bottom: 10px;
}

.customer__info--address, .customer__info--phone, .customer__info--petname, .customer__info--petbreed {
  font-size: 18px;
  font-weight: 400;
  color: white; 
}

.all__pets {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  color: white;
  margin: 15px 15px 5px 0px; 
}