.customer__info {
  padding: 20px 30px;
  text-align: left;
  background-color: #C9BCAB;
}

.customer__info--name {
  font-size: 24px;
  font-weight: 700;
  color: white; 
  margin-bottom: 10px;
}

.customer__info--address, .customer__info--phone, .customer__info--petname, .customer__info--petbreed {
  font-size: 18px;
  font-weight: 400;
  color: white; 
}