/* Importing google web fonts  */
@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Source+Serif+Pro&display=swap");


/* ---------- Typography ----------*/
body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

#root {
  background-color: rgb(255, 251, 247);
  padding: 0px;
}

.section {
  padding: 0px;
}

.section__header {
  font-size: 36px;
  font-weight: 800;
  color: #5D4943;
  margin: 20px;
  text-align: center;
}

p {
  margin-bottom: 22px;
  color: #d6fcff;
  color: darkslateblue;
}

strong {
  font-weight: bold;
}

address {
  margin: 10px 0px;
}

.home__flex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 50px auto;
}

.home__flex--inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 60px 100px;
  /* max-width: 2500px; */
}

.colspacer {
  margin: 0px 20px;
}

.col1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 30px;
}

.col1__inner {
  margin: auto auto;
}

.front-page-cta {
  font-size: 16px;
}

.col2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.col2__photo {
  height: 526px;
  margin: auto auto;
}

.welcome {
  font-size: 20px;
  font-weight: 500;
  margin: 30px 20px;
}

.headline {
  font-family: "Source Serif Pro", serif;
  font-size: 36px;  
  font-weight: 700;
}

.subtitle {
  font-size: 22px;
}

.username {
  font-size: 22px;
  font-weight: 600;
}

.front-page-cta {
  font-size: 18px;
  font-weight: bold;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #C9BCAB;
  padding: 30px;
}

.details__header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 30px;
}

.details__header--photo {
  align-self: center;
  width: 400px;
  border-radius: 10px;}

