.container-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px 50px 30px;
}

.page__card {
  border-radius: 10px;
  padding: 0px;}

.card__content {
  background-color: #C9BCAB;
  color: white;
  flex-basis: 1;
  width: 350px;
  margin: 20px;
  border-radius: 10px;}

.card__content--photo {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.quote-list {
  margin: 0px;
}

.quote__card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #C9BCAB;
  color: white;
  width: 450px;
  height: 256px;
  padding: 20px 30px;
  border: 2px solid #b3a898;
  border-radius: 10px;   
}

.quote__content--title {
  font-family: "Source Serif Pro", serif;
  font-size: 22px; 
  font-weight: bold;
  margin-right: 5px;
  margin-bottom: 10px;
  text-align: center;
}

.quote__content--text {
 font-size: 18px;
 margin-bottom: 10px;
}

.quote__content--author {
  font-size: 16px; 
}

.quote-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.remove-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 25px;
}

button {
  color: #606060;
  font-size: 16px;
  font-weight: 700;
  background-color: antiquewhite;
  border: 2px solid #b3a898;
  border-radius: 10px;
  padding: 7px 15px;
  margin: 15px 5px 0px;
}

button:disabled,
button:disabled:hover {
  background-color: lightgray;
}

.btn-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.no-image {
  font-size: 18px;
  color: black;
  text-align: center;
  padding: 20px;
  margin: auto auto;
}